<% provide(:title, "About") %>

<h1>Twoter About</h1>
<p>
  Do you want to share yur repressed fealings with everyone around you? Well you'll still have to convince them to read them. Twoter is an application that lets you scream out into the abys with the confidance that no one will probobly ever see anything you write.
</p>
