<% provide(:title, "Contact") %>
<h1>Twoter Contact</h1>
<p>
  Thank you for taking enough intrest in this project to figure out who wrote it. If you looked far enough You could probobly figure it out by looking at my GitHub but I will make it a bit easier for you. <br/>
</p>

<h2>Chris Ruge </h2>
<p>
  Email: <a href="someone@example.com">someone@example.com</a><br/>
  GitHub: <a href="https://github.com/chrisruge">github.com/chrisruge</a>
</p>

<h2> Michael Hard </h2>
<p>
  Contact: <a href="https://www.railstutorial.org/contact">contact page</a> <br/>
  Ruby on Rails Tutorial book <a href="https://www.railstutorial.org/book">View here</a>
</p>
