<div class="center jumbotron">
  <h1>Twoter</h1>
  <h2>
    This is the home page for Twoter. <br/>Build your own
    <a href="http://www.railstutorial.org/">here<a/>
    or view the source code for this project at
    <a href="https://github.com/chrisruge/ROR_Sample-App">GitHub</a>.
  </h2>

    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("twoter.png", alt: "Twoter Logo"), 'localhost:3000' %>
