<% provide(:title, "Home") %>
<h1>Twoter</h1>
<p>
  This is the home page for Twoter. <br/>Build your own
  <a href="http://www.railstutorial.org/">here<a/>
  or view the source code for this project at
  <a href="https://github.com/chrisruge/ROR_Sample-App">GitHub</a>.
</p>
