<footer class="footer">
  <small>
    The <a href="#">Twoter</a>
    by <a href="#">Chris Ruge</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">ROR Tutorial</a></li>
    </ul>
  </nav>
</footer>
